<h3>Users</h3>
<ul id="user-list">
	{{#each users as |u|}}
		<li>{{u.name}}, {{u.email}}</li>
	{{/each}}
</ul>
<hr />

<p>
	<button type="button" {{action "createUser"}} disabled={{cannotCreate}}>
		Create user
	</button>
	{{input type="text" value=name placeholder="name"}}
	{{input type="email" value=email placeholder="email"}}
</p>
<hr />

<p>
	<button type="button" {{action "readUser"}}>
		Read user
	</button>
	{{input type="text" value=id placeholder="id"}}
	<p>
		<h4>Current user</h4>
		<p>Name: {{currUser.name}}</p>
		<p>Email: {{currUser.email}}</p>
	</p>
</p>
<hr />

<p>
	<button type="button" {{action "updateUser"}}>
		Update user
	</button>
	{{input type="text" value=id placeholder="id"}}
	{{input type="text" value=name placeholder="name"}}
	{{input type="email" value=email placeholder="email"}}
</p>
<hr />

<p>
	<button type="button" {{action "deleteUser"}}>
		Delete user
	</button>
	{{input type="text" value=id placeholder="id"}}
</p>